@model Plovykla.Models.Baudos

@{
    ViewData["Title"] = "Baudos šalinimas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Baudos šalinimas</h2>

<h3>Ar esate tikras, kad norite šalinti baudą?</h3>
<div>
    <h4>Bauda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baudosAprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.baudosAprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nuostolis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nuostolis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vartotojai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vartotojai.vartotojoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uzsakymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uzsakymas.uzsakymoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="baudosId" />
        <input type="submit" value="Šalinti" class="btn btn-default" /> |
        <a asp-action="Index">Atgal į sąrašą</a>
    </form>
</div>
