@model Plovykla.Models.Baudos

@{
    ViewData["Title"] = "Baudos detalės";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Baudos detalės</h2>

<div>
    <h4>Bauda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baudosAprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.baudosAprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nuostolis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nuostolis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vartotojai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vartotojai.vartotojoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uzsakymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uzsakymas.uzsakymoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.baudosId">Išsaugoti</a> |
    <a asp-action="Index">Atgal į sąrašą</a>
</div>
