@model IEnumerable<Plovykla.Models.Baudos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.baudosAprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nuostolis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vartotojai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uzsakymas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.baudosAprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nuostolis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vartotojai.vartotojoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzsakymas.uzsakymoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.baudosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.baudosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.baudosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
