@model IEnumerable<Plovykla.Models.Uzsakymas>

@{
    ViewData["Title"] = "Uzsakymo pabaigimas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class = "login">Uzsakymo pabaigimas</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                Uzsakymo data
            </th>
            <th>
                Kaina
            </th>
            <th>
                Darbuotojas
            </th>
            <th>
                Klientas
            </th>
            <th>
                Paslauga
            </th>
            <th>
                Busena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uzsakymo_Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uzsakymoKaina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vartotojai.vartotojoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klientai.vartotojoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paslauga.paslaugosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Busenos.busenosId)
            </td>
            <td>
                <form asp-action="uzsakymoPabaigimas">
                    <input type ="hidden" name="uzsakymoId" value="@item.uzsakymoId"/>
                    <input type ="submit" name="submit" value="Baigti"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
