@model Plovykla.Models.Vartotojai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Šalinimas</h2>

<h3>Are esate tikras, kad norite pašalinti darbuotoją?</h3>
<div>
    <h4>Vartotojo duomenys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vardas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vardas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pavarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pavarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorija.kategorijosId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="vartotojoId" />
        <input type="submit" value="Pašalinti" class="btn btn-default" /> |
        <a asp-action="Index">Atgal į sąrašą</a>
    </form>
</div>
