@model Plovykla.Models.Paslauga

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paslauga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paslaugosKaina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paslaugosKaina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paslaugosPavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paslaugosPavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.paslaugosAprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.paslaugosAprasymas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.paslaugosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
